/*
!.gitignore
!/dk/
!/eww/
!/qtile
!/sxhkd
!/swhkd
!/wofi
!/kitty
!/sway
!/picom
!/nvim
!/neofetch
!/hypr
!/dunst
!/vesktop
/vesktop/*
!/vesktop/settings
!/vesktop/themes
!/zsh
/zsh/plugins/*
!/zsh/plugins/plugins.zsh
!/mpd
/mpd/state
